<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Satisfactory calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
    <form method="get" action="/">
        <div>
            <label for="itemSelection">Select an item:</label>
            <select id="itemSelection" name="item">
                <option value="default">---</option>
                <option th:each="item: ${items}" th:value="${item.name}" th:text="${item.name} + ' (base: ' + ${item.baseOutput} + ')'"
                        th:selected="${item.name eq selectedItem}"></option>
            </select>
        </div>
        <div>
            <label for="requestedCount">Requested count:</label>
            <input type="number" name="count" id="requestedCount" th:value="${selectedCount}" />
        </div>
        <div>
            <input type="submit" value="Calculate" />
        </div>
    </form>
    <br/>
    <hr/>
    <br/>
    <pre th:text="${itemTree}"></pre>

</div>

</body>

</html>